<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <div class="container">
        <div class="w-full bg-black h-14 text-neutral-50 text-2xl flex items-center pl-5">
            Company Kim
        </div>
        <div class="flex">
            <div class="w-[300px] border-r-2 h-screen bg-rose-200">
                <ul class="w-[300px]">
                    <li class="border-b h-[50px] hover:bg-lime-500"><a class="block text-center leading-[50px]"
                            href="">Danh
                            mục</a></li>
                    <li class="border-b h-[50px]  hover:bg-lime-500"><a class="block text-center leading-[50px]"
                            href="">Sản
                            phẩm</a></li>
                    <li class=" border-b h-[50px]  hover:bg-lime-500"><a class="block text-center leading-[50px]"
                            href="">Tài
                            khoản</a></li>
                </ul>

            </div>
            <div class="w-full ml-4">
                <div class="flex border-b py-4">
                    <p class="text-4xl font-bold ">Dashboard</p>
                </div>

                <!-- danh sách sản phẩm -->
                <!-- <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 text-center">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="w-[50px]">
                                    <span class="">STT</span>
                                </th>
                                <th scope="col" class="px-16 py-3">
                                    Hình ảnh
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Tên sản phẩm
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Giá
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Số lượng
                                </th>
                                <th scope="col" class=" px-6 py-3">
                                    Mô tả
                                </th>
                                <th scope="col" class="px-6 py-3">

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                <td class="p-4">
                                    1
                                </td>
                                <td class="p-4">
                                    <img src="https://picsum.photos/id/237/200/300 "
                                        class="m-auto w-[100px] h-[150px] object-cover" alt="Vũ Bá Thông">
                                </td>
                                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                    Apple Watch
                                </td>
                                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                    10000
                                </td>
                                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                    10
                                </td>
                                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                                    mô tả nè
                                </td>

                                <td class="px-6 py-4 ">
                                    <a class="px-4 py-2 bg-blue-600 text-white rounded-md mr-4" href="#"
                                        class="font-medium text-red-600 dark:text-red-500 hover:underline">Sửa</a>
                                    <a class="px-4 py-2 bg-red-600 text-white rounded-md mr-4" href="#"
                                        class="font-medium text-red-600 dark:text-red-500 hover:underline">Xóa</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
                <!-- Sửa thông tin
                 -->
                <form class="mt-4 mr-4">
                    <div class="mb-5">
                        <label for="image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Hình
                            ảnh</label>
                        <input type="file"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                    <div class="mb-5">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tên sản
                            phẩm</label>
                        <input type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                    <div class="mb-5">
                        <label for="price"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Giá</label>
                        <input type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                    <div class="mb-5">
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="level">Phiên
                            bản</label>
                        <select
                            class="w-[200px] border border-gray-300 text-gray-900 text-sm rounded-md bg-gray-50 focus:ring-blue-500 focus:border-blue-500 block p-2.5"
                            name="level">
                            <option value="1">2021</option>
                            <option value="2">2022</option>
                            <option value="3">2023</option>
                            <option value="4">2024</option>
                        </select>
                    </div>
                    <div class="mb-5">
                        <label for="count" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Số
                            lượng</label>
                        <input type="text"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" />
                    </div>
                    <div class="mb-5">
                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mô
                            tả</label>
                        <textarea
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg w-full p-2.5"
                            name="description" id="" cols="30" rows="10"></textarea>
                    </div>

                    <button type="submit"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </form>
            </div>

        </div>
</body>

</html>